@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');

.App {
  font-family: 'Roboto', sans-serif;
  height: 100%;
}

.App {
  color: var(--text-primary);
  background-color: var(--background);
  transition: all .5s;
}
button {
  color: var(--text-primary);
  background-color: var(--background);
  border: 2px var(--text-primary) solid;
  float: right;
}

#welcome {
  font-family: 'Titillium Web', sans-serif;
  font-weight: bold;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#welcome p {
  margin: 2% 0;
  font-size: 24px;
}

#home-container {
  display: flex;
  flex-direction: row;
  width: 60%;
  justify-content: space-evenly;
  align-items: flex-start;
}

#startstream, #watch {
  border-radius: 10px;
  font-size: 40px;
  font-weight: bold;
  background-color: #FFFFFF;
  color: black;
  cursor: pointer;
  height: 150px;
  width: 200px;
}

#startstream p, #watch p {
margin-top: 5px;
}

#incoming-call {
  margin-top: 20%;
}

#incoming-call button {
  background-color: #FFF;
  color: black;
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 10px;
  padding: 10%;
}

#incoming-call button:hover {
  background-color: var(--start-button-background);
  color: #FFF;
  transform: scale(1.05);
  transition-duration: 0.4s;
}

#startstream:hover, #watch:hover {
  transform: scale(1.05);
  transition-duration: 0.2s;
  filter: brightness(1.4);
}

#status {
  margin-top: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#home {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
}

#start {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: black;
  border-radius: 10px;
}

#start p {
  font-size: 24px;
  margin-bottom: 4%;
}

#start a {
  text-decoration: none;
  color: black;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1%;
  font-family: 'Titillium Web', sans-serif;
  font-weight: bold;
  font-size: 30px;
  color: #F5751B;
  font-style: italic;
}

#line {
  height: 2px;
  width: 60%;
  background-color: #FFF;
}

#orange {
  color: #F5751B;
}

#hospital, #ambulance {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
}

.dropdown-menu {
    position: relative;
    padding-right: 30px;
}

.dropdown-menu_container-links {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  background-color: white;
  padding: 2rem;
  position: absolute;
  top: 37px;
  right: -162px;
  border-radius: 5px;
  box-shadow: 0 0 5 rgba(0,0,0,0.2);
  background-color: var(--start-button-background);
  text-decoration: underline;
  text-decoration-thickness: 1px;
  width: 300px;
}

.dropdown-menu_container-links p {
  margin: 5%;
}

.dropdown-menu_container-links p a {
  text-decoration: none;
  color: white;
}

#start-button p {
  margin: 2px 5px;
  border: 0 0 1px 0 solid white;
}

.dropdown-menu_container-links p:hover {
  transform: scale(1.1);
}

#v1:fullscreen, #v2:fullscreen, #v3:fullscreen, #v4:fullscreen {
  filter: brightness(1.3);
}

input {
  padding: 5px;
  border: none;
  border-radius: 5px;
  margin-left: 10px;
}

.extra-buttons {
  background-color: #FFFFFF;
  border-radius: 20px;
  border: 2px solid transparent;
  font-size: 28px;
  font-family: 'Roboto', sans-serif;
  color: black;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 160px;
  cursor: pointer;
}

#extra-buttons {
  background: rgba(233, 226, 226, 0.42);
  border-radius: 20px;
  height: 90%;
  display: flex;
  width: 340px;
  justify-content: space-between;
  align-items: center;
}

#videoContainer-1, #videoContainer-2, #videoContainer-3, #videoContainer-4 {
  max-width: 50%;
  max-height: 50%;
  overflow: hidden;
  margin: 0;
}

#videoContainer-1:-webkit-full-screen, #videoContainer-2:-webkit-full-screen,
#videoContainer-1:-moz-full-screen, #videoContainer-2:-moz-full-screen {
  width: 100%;
  height: 100%;
}

#back {
  display: none;
  z-index: 10;
}

#videoContainer-1:-webkit-full-screen #back, #videoContainer-2:-webkit-full-screen #back, #videoContainer-3:-webkit-full-screen #back,
#videoContainer-1:-moz-full-screen  #back, #videoContainer-2:-moz-full-screen  #back, #videoContainer-3:-moz-full-screen  #back  {
  display: block;
  background-color: #F5751B;
  height: 110px;
  width: 240px;
  font-size: 44px;
  color: #FFF;
  border-radius: 10px;
  border: 1px solid #F5751B;
  font-family: 'Roboto', sans-serif;
  position: absolute;
  z-index: 1;
  top: 0px;
  right: 0px;
  margin: 1%;
  cursor: pointer;
}

#videoContainer-1:-webkit-full-screen video, #videoContainer-2:-webkit-full-screen video,
#videoContainer-1:-moz-full-screen video, #videoContainer-2:-moz-full-screen video {
  object-fit: cover;
  z-index: 0;
}

video {
  aspect-ratio: 16 / 9;
}

video:hover {
  cursor: pointer;
}

video::backdrop {
  background-color: #212121;
}

#hospital-mirroring {
  max-width: 100%;
  max-height: 90%;
  border: 2px solid white;
}

.mute-button {
  height: 50px;
  width: 50px;
  cursor: pointer;
  border-radius: 10px;
  background-color: #FFF;
  color: black;
  margin-left: 2%;
}

#mute-caller {
  display: flex;
  margin-left: 5%;
}

#container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#buttons {
  background-color: #212121;
  height: 100%;
  width: 50%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  align-items: center;
}

#watchid {
  background-color: #F5751B;
  border-radius: 10px;
  height: 50px;
  width: 350px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  color:#A1D58F
  
}

.hodetelefoner {
  color: #fff;
  padding: 2%;
  font-size: 30px;
}
#buttons button {
  min-height: 50%;
  background-color: var(--start-button-background);
  border-radius: 10px;
  border: 2px solid transparent;
  font-size: 28px;
  font-family: 'Roboto', sans-serif;
  color: white;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 200px;
}

/**
 * ----------------------------------------
 * animation pulsate-bck
 * ----------------------------------------
 */
 @-webkit-keyframes pulsate-bck {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes pulsate-bck {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.answer-button {
  background-color: var(--start-button-background);
    border-radius: 10px;
    border: 2px solid transparent;
    font-size: 28px;
    font-family: 'Roboto', sans-serif;
    color: white;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 200px;
    -webkit-animation: pulsate-bck 0.5s ease-in-out infinite both;
	  animation: pulsate-bck 0.5s ease-in-out infinite both;
	  animation: pulsate-bck 0.5s ease-in-out infinite both;
}

:not(:root):fullscreen {
  filter: brightness(1.0);
}

#extra-buttons {
  background: rgba(233, 226, 226, 0.42);
  border-radius: 20px;
  height: 90%;
  display: flex;
  width: 420px;
  justify-content: space-between;
  align-items: center;
}

.extra-buttons {
  background-color: #FFFFFF;
  border-radius: 20px;
  border: 2px solid transparent;
  font-size: 28px;
  font-family: 'Roboto', sans-serif;
  color: black;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 200px;
  cursor: pointer;
}

.mute-button {
  width: 50px;
  height: 50px;
  border-radius: 20px;
  background-color: white;
  cursor: pointer;
}

.mute-button svg {
  height: 30px;
  width: 30px;
  color: black;
}

#spinner {
  display: inline-block;
  width: 80px;
  height: 80px;
}
#spinner:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.animate__animated  {
  animation: animate__pulse 1.5s linear infinite; /* don't forget to set a duration! */
}






