@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,400&display=swap');

.App {
  font-family: 'Roboto', sans-serif;
  height: 100%;
}

.App {
  color: var(--text-primary);
  background-color: var(--background);
  transition: all .5s;
}
button {
  color: var(--text-primary);
  background-color: var(--background);
  border: 2px var(--text-primary) solid;
  float: right;
}

#startstream, #watch {
  border-radius: 10px;
  font-size: 50px;
  font-weight: bold;
  background-color: #A1D58F;
}

#startstream p, #watch p {
margin-top: 5px;
}

#home {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
}

#ambulance, #hospital {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.dropdown-menu {
    position: relative;
    padding-right: 30px;
}

.dropdown-menu_container-links {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  background-color: white;
  padding: 2rem;
  position: absolute;
  top: 37px;
  right: -37px;
  border-radius: 5px;
  box-shadow: 0 0 5 rgba(0,0,0,0.2);
  background-color: var(--start-button-background);
  text-decoration: underline;
}

.dropdown-menu_container-links p {
  margin: 5%;
}

.dropdown-menu_container-links p a {
  text-decoration: none;
  color: white;
}

.dropdown-menu_container-links p:hover {
  transform: scale(1.1);
}

#v1:fullscreen, #v2:fullscreen, #v3:fullscreen, #v4:fullscreen {
  filter: var(--filter);
}

input {
  padding: 5px;
  border: none;
  border-radius: 5px;
  margin-left: 10px;
}


#callerid {
  text-align: center;
  border-radius: 10px;
  background-color: #F5751B;
  height: 50px; 
  width: 320px;
  display: flex;
  flex-flow: row nowrap;
 align-items: center;
 justify-content: center;
}

.hodetelefoner {
  font-size: 25px;
  padding: 1%;
}



#buttons {
  background-color: #212121;
  height: 100%;
  width: 50%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  align-items: center;
}

<<<<<<< HEAD
#watchid {
  background-color: #F5751B;
  border-radius: 10px;
  height: 50px;
  width: 350px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  color:#A1D58F
  
}

.hodetelefoner {
  color: #fff;
  padding: 2%;
  font-size: 30px;
=======
#buttons button {
  min-height: 50%;
  background-color: var(--start-button-background);
  border-radius: 10px;
  border: 2px solid transparent;
  font-size: 28px;
  font-family: 'Roboto', sans-serif;
  color: white;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 200px;
}

/**
 * ----------------------------------------
 * animation pulsate-bck
 * ----------------------------------------
 */
 @-webkit-keyframes pulsate-bck {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes pulsate-bck {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.answer-button {
  background-color: var(--start-button-background);
    border-radius: 10px;
    border: 2px solid transparent;
    font-size: 28px;
    font-family: 'Roboto', sans-serif;
    color: white;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 200px;
    -webkit-animation: pulsate-bck 0.5s ease-in-out infinite both;
<<<<<<< HEAD
	        animation: pulsate-bck 0.5s ease-in-out infinite both;
>>>>>>> 1d41bb6b4813609294e2a8dd761bfb545ce5df3f
=======
	  animation: pulsate-bck 0.5s ease-in-out infinite both;
>>>>>>> f91298193f956df81177b8f0144b92180f610093
}







