@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,400&display=swap');

.App {
  font-family: 'Roboto', sans-serif;
  height: 100%;
}

.App {
  color: var(--text-primary);
  background-color: var(--background);
  transition: all .5s;
}
button {
  color: var(--text-primary);
  background-color: var(--background);
  border: 2px var(--text-primary) solid;
  float: right;
}

#welcome {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#startstream, #watch {
  border-radius: 10px;
  font-size: 50px;
  font-weight: bold;
  background-color: #FFFFFF;
  color: black;
  cursor: pointer;
  height: 200px;
  width: 300px;
}

#startstream p, #watch p {
margin-top: 5px;
}

#startstream:hover, #watch:hover {
  transform: scale(1.1);
  transition-duration: 0.2s;
}

#home {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
}

#start {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#start a {
  text-decoration: none;
  color: #FFFFFF;
}

#start a:hover {
  transform: scale(1.1);
}

#hospital, #ambulance {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
}

.dropdown-menu {
    position: relative;
    padding-right: 30px;
}

.dropdown-menu_container-links {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  background-color: white;
  padding: 2rem;
  position: absolute;
  top: 37px;
  right: -37px;
  border-radius: 5px;
  box-shadow: 0 0 5 rgba(0,0,0,0.2);
  background-color: var(--start-button-background);
  text-decoration: underline;
}

.dropdown-menu_container-links p {
  margin: 5%;
}

.dropdown-menu_container-links p a {
  text-decoration: none;
  color: white;
}

.dropdown-menu_container-links p:hover {
  transform: scale(1.1);
}

#v1:fullscreen, #v2:fullscreen, #v3:fullscreen, #v4:fullscreen {
  filter: var(--filter);
}

input {
  padding: 5px;
  border: none;
  border-radius: 5px;
  margin-left: 10px;
}



