body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --background: #11406A;
  --text-primary: white;
  --start-button-background: #16C29D;
  --stop-button-background: #F22727;
  --toggle-background: white;
  --toggle-color: black;
   filter: brightness(1);
}
[data-theme='dark'] {
  --background: #383838;
  --text-primary: white;
  filter: brightness(120%);
  --start-button-background: black;
  --stop-button-background: black;
  --toggle-background: black;
  --toggle-color: white;
}
