
video::-webkit-media-controls {
    display: none !important;
    width: 100%;
    }

.stream {
    display: flex;
    width: 100%;
    flex-flow: row wrap;
}

#v1, #v2, #v3, #v4 {
    object-fit: contain;
}

.videos {
    display: block;
    width: 100%;
    align-content: center;
}

#topbar-ambulance {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

#topbar-ambulance p, button, form {
    margin: 5px;
}

p {
   margin: 2px; 
   color: white;
}

#controls {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
}

#start-button {
    background-color: #16C29D;
    border-radius: 10px;
    border: 2px solid transparent;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    color: white;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 200px;
}

#stop {
    background-color: #F22727;
}

#start-button p {
    margin: 0 5px;
}

.control-button {
    background-color: #16C29D;
    border-radius: 10px;
    border: 2px solid transparent;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    color: white;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 150px;
}