
video::-webkit-media-controls {
    display: none !important;
}

.stream {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.videos {
    display: block;
    width: 100%;
    align-content: center;
}

#topbar-ambulance {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

#topbar-ambulance p, button, form {
    margin: 10px;
}

.control-button {
    background-color: #16C29D;
    border-radius: 10px;
    border: 2px solid transparent;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    color: white;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 150px;
}

#stop {
    background-color: #F22727;
}

.control-button p {
    margin: 0 5px;
}